@charset "UTF-8";

/*FORMATA��O INTERFACE*/
div#interface{
  width: 16.7%;
  background-color: rgba(0,255,0, .3);
  margin: 13% auto 0px auto;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
  padding: 10px 10px 10px 10px;
}
body{
  background-color: rgb(255,245,180);
}

/*FORMATA�AO INPUTS*/
legend#Lentrar{
	text-align: center;
	font-family: 'Noto Serif SC', serif;
}

input#password{
	font-family: 'Noto Serif SC', serif;
	font-size: 14px;
	background-color: rgba(50,205,50,.5);
	text-align: center;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
	border: 0;
	padding: 5px;
	left: 100%;
	border-radius: 4px;
	color: white;
}

input#tel{
	font-family: 'Noto Serif SC', serif;
	font-size: 14px;
	background-color: rgba(50,205,50,.5);
	text-align: center;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
	border: 0;
	padding: 5px;
	border-radius: 4px;
	color: white;
}

button#buton{
	font-family: 'Noto Serif SC', serif;
	text-transform: uppercase;
	background: #4CAF50;
	width: 98%;
	border: 0;
	padding: 15px;
	color: rgb(0,100,0);
	font-size: 14px;
	cursor: pointer;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
	padding: 5px;
	outline-style: solid;
}

p{
	text-align: center;
	font-size: 14px;
}

p#baixo{
	margin-bottom:0px;
}

p#cima{
	margin-top:20px;
}

<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 7ae2d2cebb7e6579f628ae835b7d9cd9957d21aa
p#excluir{
	margin-top:20px;
  color: red;
}

<<<<<<< HEAD
=======
=======
>>>>>>> e3f5b5e95fb6c74e80e816ae8a9d12dc5886701d
>>>>>>> 7ae2d2cebb7e6579f628ae835b7d9cd9957d21aa
a#unic{
	text-decoration: none;
}
