@charset "UTF-8";

/*FORMATAÇÃO INTERFACE*/
div#interface{
  width: 30%;
  background-color: rgba(0,255,0, .3);
  margin: 2% auto 0px auto;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
  padding: 10px 10px 10px 10px;
}
body{
    background-color: rgb(255,245,180);
}

/*FORMATAÇÃO DOS INPUTS*/
p.pergunta{
    text-align: center;
    border-radius: 10px;
    font-size: 18px;
}

input{
    text-align: center;
    margin-top: 1%;
    margin-left: 23%;
    font-family: 'Noto Serif SC', serif;
	font-size: 14px;
	background-color: rgba(50,205,50,.5);
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
	border: 0;
	/*padding: 5px;*/
	/*left: 100%;*/
	border-radius: 4px;
   
}

input#Cbirthday{
    margin-left: 30%;
}

button{
	font-family: 'Noto Serif SC', serif;
	text-transform: uppercase;
	width: 40%;
	border: 0;
    padding: 15px;
	font-size: 14px;
	cursor: pointer;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
	padding: 15px;
    outline-style: solid;
    margin-top: 10%;
}

button#cancelar{
    margin-left: 18.5%;
    background: rgb(250,128,114);
    color: rgb(139,0,0);
}

button#terminar{
    background: #4CAF50;
    color: rgb(0,100,0);
}

select#Ccity{
    text-align: center;
    margin-top: 1%;
    margin-left: 30%;
    font-family: 'Noto Serif SC', serif;
	font-size: 14px;
	background-color: rgba(50,205,50,.5);
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
	border: 0;
	border-radius: 4px;
}

h1{
    text-align: center;
    color: black;
}

legend{
    text-align: center;
    color: black;
}