@charset "UTF-8";
/*FORMATA�AO CORPO DO SITE*/
section#corpo {
  text-align: center;
  font-size: 13pt;
}

section#corpo ol#instrucoes{
  background-color: rgba(0,139,139,.5);
  margin: 0px 100px;
  box-shadow: 3px 3px 10px rgb(173,255,47);
  padding-top: 1px;
  padding-bottom: 15px;
  padding-right: 15px;
  border-radius: 10px;
}

section#corpo p#linha1{
  border-bottom: 5px rgba(255,215,0,.5) solid;
  margin-top: 0;
}

p.pergunta{
  background-color:darkgreen;
  color: #ffffff;
  margin-top: 25px;
  margin-bottom: 25px;
  border-radius: 10px;
}

p.resposta{
  background-color: rgba(0,139,139,.5);
  box-shadow: 3px 3px 10px rgb(173,255,47);
  margin: 0px 100px;
  padding-top: 10px;
  padding-bottom: 15px;
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 10px;
}

/*LINK DO FINAL*/
p#linha2 a#tel{
	text-decoration: none;
}