@charset "UTF-8";

p#inicio{
  font-family: 'Noto Serif SC', serif;
  font-size: 30px;
  text-align: center;
}

p#inicio2{
  text-align: center;
}

p#L1{
  font-family: 'Noto Serif SC', serif;
  text-align: center;
  font-size:14px;
}

p#L2{
  font-family: 'Noto Serif SC', serif;
  text-align: center;
  font-size:12px;
}

p#L2 a{
  text-decoration: none;
}


/* ANTIGO MENU */
ul#localidades{
  list-style: none;
  background-color: rgba(0,139,139,.5);
  box-shadow: 3px 3px 10px rgb(173,255,47);
  margin: 0px 250px;
  padding-top: 10px;
  padding-bottom: 15px;
  padding-right: 15px;
  padding-left: 15px;
}

ul#localidades li{
  font-size: 15pt;
  text-align: center;
  background-color: rgba(0,250,154,.7);
  padding: 10px;
  margin: 15px;
  border-radius: 100px;
  border: 1px solid #000000;
}

ul#localidades li:hover{
  background-color: rgba(255,215,0,.5);
}

ul#localidades a{
  text-decoration: none;
  color: #000000;
}

ul#localidades a:hover{
  color: #ffffff;
}