cabe@charset "UTF-8";
/*FORMATA�AO LAYOUT DO SITE*/
body{
  /*background-color: rgb(46,139,87);*/
  background-color: turquoise;
}

nav#menu a{
  text-align: justify;
  text-decoration: none;
  color: #000000;
}

nav#menu a:hover{
  color: rgb(255,215,0);
}

/*FORMATA�AO DO MENU*/
header#cabecalho h1{
  font-family: 'Noto Serif SC', serif;
  font-size: 39px;
  margin-bottom: 0px;
  margin-top: 10px;
  text-align: center;
  right: 30%;
}

header#cabecalho h2{
  font-family: 'Slabo 27px', serif;
  font-size: 22px;
  margin-top: 0px;
  text-align: center;
}

#logo {
   max-width:180px;
   max-height:180px;
   width: auto;
   height: auto;
   position: absolute;
   margin: -35px 140px 0px ;
}

nav#menu ul#primeira{
  text-transform: uppercase;
  list-style: none;
  position: absolute;
  top: 0.5%;
  left: 12.5%;
}

nav#menu ul#segunda{
  color: rgb(255,215,0);
  text-transform: uppercase;
  list-style: none;
  position: absolute;
  top: 0.5%;
  left: 60.2%;
}

nav#menu a{
  display: inline-block;
  background-color: rgba(0,250,154,.7);
  padding: 10px;
  margin: 15px;
  color: #000000;
}

nav#menu a:hover{
  color: rgb(255,215,0);
  background-color: rgba(154,205,50,.5);
}

/*FORMATA��O RODAPE*/
footer#rodape{
  border-top: 1px solid #000000;
  margin-top: 23px;
}

footer#rodape p{
  text-align: center;
  color: rgba(75,0,130,.5);
  font-size: 10pt;
}

footer#rodape a{
  text-decoration: none;
}

/*FORMATA��O INTERFACE*/
div#interface{
  width: 900px;
  background-color: rgb(255,245,180);
  margin: -20px auto 0px auto;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
  padding: 10px 10px 10px 10px;
}

div#box{
  width: 180px;
  background-color: rgb(255,245,180);
  margin: -800px auto 0px auto;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
  padding: 10px 10px 10px 10px;
  float: right;
  position: absolute;

}
